#fm-ctrlline {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 26px;
    cursor: pointer;
    z-index: 500;
    box-shadow: 5px 5px 5px #888888;
}
.bckcolor{
	position: fixed;
	top: 200px;
	width: 26px;
	height: 278px;
	background-color:#E5EFEB;
}
#ctrlline_open{
	position: fixed;
	width: 18px;
	height: 100px;
	left: 8px;
	top: 300px;
	background-color: #D4DAD8;
	border: none;
	cursor: pointer;
}
#fm-ctrlline:hover #ctrlline_open{
	background-color: #5CE45C;
	color: white;
}
#ctrlline_neirong{
	position: absolute;
	left: -685px;
	/*left: 0px;*/
	top: 0;
	width: 680px;
	height: 1750px;
	background-color: white;
	box-shadow: 5px 5px 5px #888888;
	z-index: 500;
	-webkit-transition:left 2s;

}


#ctrlline_close{
	position: fixed;
	width: 18px;
	height: 100px;
	left: -18px;
	top: 300px;
	background-color: #D4DAD8;
	border: none;
	cursor: pointer;
	z-index: 10;
	-webkit-transition:left 2s;
}
#ctrlline_close:hover{
	background-color: #5CE45C;
	color: white;
}


.all_mhz{
	font-size: 30px;
	color: #a2a8ac;
	position: absolute;
	left: 60px;
	top: 40px;
}
.search_mhz{
	position: absolute;
	left: 350px;
	top: 70px;
	width: 235px;
	height: 25px;
	border: 1px solid #f0f0f0;
	border-right: none;
}
.sousuo{
	position: absolute;
	left: 587px;
	top: 70px;
	width: 30px;
	height: 29px;
	background-color: white;
	border: 1px solid #f0f0f0;
	border-left: none;
	cursor: pointer;
}

#lunbo{
	width: 680px;
	height: 278px;
	position: absolute;
	top: 200px;
	background-color: #E5EFEB;
}

#btn1{
	position: absolute;
	left: 320px;
	top: 30px;
	background-color:#D4DAD8 ;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border: none;
	font-size: 10px;
	color: gray;
	cursor: pointer;
}
#btn2{
	position: absolute;
	left: 345px;
	top: 30px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #D4DAD8;
	border: none;
	font-size: 10px;
	color: gray;
	cursor: pointer;
}
#btn3{
	position: absolute;
	left: 370px;
	top: 30px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #D4DAD8;
	border: none;
	font-size: 10px;
	color: gray;
	cursor: pointer;
}
#btn4{
	position: absolute;
	left: 395px;
	top: 30px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #D4DAD8;
	border: none;
	font-size: 10px;
	color: gray;
	cursor: pointer;
}
#btn5{
	position: absolute;
	left: 420px;
	top: 30px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #D4DAD8;
	border: none;
	font-size: 10px;
	color: gray;
	cursor: pointer;
}
#btn6{
	position: absolute;
	left: 445px;
	top: 30px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #D4DAD8;
	border: none;
	font-size: 10px;
	color: gray;
	cursor: pointer;
}
#button button:hover{
	background-color: #5CE45C;
}
#mhz_name{
	font-size: 20px;
	color: gray;
	position: absolute;
	left: 320px;
	top: 60px;
}
#lunbo:hover #mhz_name{
	color: #5CE45C;
}
#jieshao{
	font-size: 12px;
	color: #A0A0A0;
	position: absolute;
	left: 320px;
	top: 110px;

}
#hotaudio{
	width: 300px;
	font-size: 12px;
	color: #A0A0A0;
	position: absolute;
	left: 320px;
	top: 150px;
}
#audionum{
	font-size: 12px;
	color: #A0A0A0;
	position: absolute;
	left: 320px;
	top: 190px;
}
#xiangqing{
	font-size: 12px;
	color: #A0A0A0;
	position: absolute;
	left: 390px;
	top: 190px;
}
#xiangqing:hover{
	color: #5CE45C;
	cursor: pointer;
}

#biaoqian{
	width: 500px;
	position: absolute;
	top: 520px;
	left: 50px;
}
#biaoqian nav{
	font-size: 12px;
	color:#A0A0A0;
	cursor: pointer;
	float: left; 
	margin: 5px 2px;

}
#biaoqian nav:hover{
	color: #5CE45C;
}

.hotmhz_wenzi{
	font-size: 15px;
	position: absolute;
	top: 580px;
	left: 50px;
}

#hymhz{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 650px;
	left: 50px;
}
#hymhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#hymhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#hymhz div:hover{
	color: #5CE45C;
}
.mengban1{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 0;
	top: 2px;
	display: none;
}
#hymhz:hover .mengban1{
	display: block;
}

#ommhz{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 650px;
	left: 350px;
}
#ommhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#ommhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#ommhz div:hover{
	color: #5CE45C;
}
.mengban2{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 0;
	top: 2px;
	display: none;
}
#ommhz:hover .mengban2{
	display: block;
}
#blmhz{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 730px;
	left: 50px;
}
#blmhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#blmhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#blmhz div:hover{
	color: #5CE45C;
}
.mengban3{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 0;
	top: 2px;
	display: none;
}
#blmhz:hover .mengban3{
	display: block;
}

#gzmhz{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 730px;
	left: 350px;
}
#gzmhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#gzmhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#gzmhz div:hover{
	color: #5CE45C;
}
.mengban4{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 0;
	top: 2px;
	display: none;
}
#gzmhz:hover .mengban4{
	display: block;
}
#yymhz{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 810px;
	left: 50px;
}
#yymhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#yymhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#yymhz div:hover{
	color: #5CE45C;
}
.mengban5{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 0;
	top: 2px;
	display: none;
}
#yymhz:hover .mengban5{
	display: block;
}


#qyymhz{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 810px;
	left: 350px;
}
#qyymhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#qyymhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#qyymhz div:hover{
	color: #5CE45C;
}
.mengban6{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 5px;
	top: 2px;
	display: none;
}
#qyymhz:hover .mengban6{
	display: block;
}
#cfmhz{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 890px;
	left: 50px;
}
#cfmhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#cfmhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#cfmhz div:hover{
	color: #5CE45C;
}
.mengban7{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 3px;
	top: 5px;
	display: none;
}
#cfmhz:hover .mengban7{
	display: block;
}

#ndmhz{
	width: 215px;
	height: 60px;
	position: absolute;
	top: 890px;
	left: 350px;
}
#ndmhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#ndmhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#ndmhz div:hover{
	color: #5CE45C;
}
.mengban8{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 0;
	top: 2px;
	display: none;
}
#ndmhz:hover .mengban8{
	display: block;
}
#ksmhz{
	width: 200px;
	height: 60px;
	position: absolute;
	top: 970px;
	left: 50px;
}
#ksmhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#ksmhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#ksmhz div:hover{
	color: #5CE45C;
}
.mengban9{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 12px;
	top: 8px;
	display: none;
}
#ksmhz:hover .mengban9{
	display: block;
}

#jsmhz{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 970px;
	left: 350px;
}
#jsmhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#jsmhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#jsmhz div:hover{
	color: #5CE45C;
}
.mengban10{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 3px;
	top: 3px;
	display: none;
}
#jsmhz:hover .mengban10{
	display: block;
}
.up_fast{
	font-size: 15px;
	position: absolute;
	top: 1070px;
	left: 50px;
}
#gzmhz2{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 1140px;
	left: 50px;
}
#gzmhz2 p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#gzmhz2 div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#gzmhz2 div:hover{
	color: #5CE45C;
}
.mengban11{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 0;
	top: 2px;
	display: none;
}
#gzmhz2:hover .mengban11{
	display: block;
}

#xqxmhz{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 1140px;
	left: 350px;
}
#xqxmhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#xqxmhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#xqxmhz div:hover{
	color: #5CE45C;
}
.mengban12{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 3px;
	top: 2px;
	display: none;
}
#xqxmhz:hover .mengban12{
	display: block;
}
#xgmhz{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 1220px;
	left: 50px;
}
#xgmhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#xgmhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#xgmhz div:hover{
	color: #5CE45C;
}
.mengban13{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 1px;
	top: 2px;
	display: none;
}
#xgmhz:hover .mengban13{
	display: block;
}

#kfmhz{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 1220px;
	left: 350px;
}
#kfmhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#kfmhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#kfmhz div:hover{
	color: #5CE45C;
}
.mengban14{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 3px;
	top: 5px;
	display: none;
}
#kfmhz:hover .mengban14{
	display: block;
}
#gdmhz{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 1300px;
	left: 50px;
}
#gdmhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#gdmhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#gdmhz div:hover{
	color: #5CE45C;
}
.mengban15{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 0;
	top: 2px;
	display: none;
}
#gdmhz:hover .mengban15{
	display: block;
}

#jsmhz2{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 1300px;
	left: 350px;
}
#jsmhz2 p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#jsmhz2 div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#jsmhz2 div:hover{
	color: #5CE45C;
}
.mengban16{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 4px;
	top: 2px;
	display: none;
}
#jsmhz2:hover .mengban16{
	display: block;
}
#mymhz{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 1380px;
	left: 50px;
}
#mymhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#mymhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#mymhz div:hover{
	color: #5CE45C;
}
.mengban17{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 3px;
	top: 1px;
	display: none;
}
#mymhz:hover .mengban17{
	display: block;
}

#qyymhz2{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 1380px;
	left: 350px;
}
#qyymhz2 p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#qyymhz2 div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#qyymhz2 div:hover{
	color: #5CE45C;
}
.mengban18{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 5px;
	top: 1px;
	display: none;
}
#qyymhz2:hover .mengban18{
	display: block;
}
#dymhz{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 1460px;
	left: 50px;
}
#dymhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#dymhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#dymhz div:hover{
	color: #5CE45C;
}
.mengban19{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 0;
	top: 2px;
	display: none;
}
#dymhz:hover .mengban19{
	display: block;
}

#jlmhz{
	width: 180px;
	height: 60px;
	position: absolute;
	top: 1460px;
	left: 350px;
}
#jlmhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#jlmhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#jlmhz div:hover{
	color: #5CE45C;
}
.mengban20{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 0;
	top: 4px;
	display: none;
}
#jlmhz:hover .mengban20{
	display: block;
}
.ppmhz{
	font-size: 15px;
	position: absolute;
	top: 1540px;
	left: 50px;
}
#skmhz{
	width: 210px;
	height: 60px;
	position: absolute;
	top: 1605px;
	left: 50px;
}
#skmhz p{
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	left: 60px;
	top: -0px;
}
#skmhz div{
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 60px;
}
#skmhz div:hover{
	color: #5CE45C;
}

.mengban21{
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	position: absolute;
	left: 2px;
	top: 2px;
	display: none;
}
#skmhz:hover .mengban21{
	display: block;
}











